.decrypt_app {
    padding-top: 52px;
    
    .input_box {
        border-bottom: 1px solid #666;
        @include shadow(0px);
        
        input {
            width: calc(100% - 20px);
            padding: 10px;
            border: none;
            border-bottom: 1px solid #666;
            font-size: 16px;
        }
        
        textarea {
            width: calc(100% - 20px);
            padding: 10px;
            border: none;
            font-size: 16px;
            resize: none;
        }
        
        .decrypt_button {
            width: 100%;
            border: none;
            text-align: right;
            padding-right: 20px;
            font-family: Arial, Tahoma, Verdana, sans-serif; 
            font-size: 16px;
            font-weight: 600;
            color: $accent;
            line-height: 40px;
            background: transparent;
            cursor: pointer;
        }
    }
}